<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout::head">
    <meta charset="UTF-8"/>
    <title>Index Page</title>


    <script src="../../static/js/thumbnail.js"></script>

</head>
<body>
<div class="container">
    <nav th:replace="layout::header "></nav>
    <div class="row">
        <ul class="listrap">
            <li>
                <div class="listrap-toggle">
                    <div class="ava">
                        <img src="http://lorempixel.com/60/60/people/?v=1" class="img-circle"/>
                    </div>
                    <div class="content">
                        <div class="title"><h3>1231231321321321</h3></div>
                        <div class="content-detail"><h4>asdsfsdfsdfsadfas</h4></div>
                        <div class="author"><h6>dffdsafsaf</h6></div>
                    </div>

                </div>
            </li>
            <li>
                <div class="listrap-toggle">
                    <div class="ava">
                        <img src="http://lorempixel.com/60/60/people/?v=1" class="img-circle"/>
                    </div>
                    <div class="content">
                        <div class="title"><h3>1231231321321321</h3></div>
                        <div class="content-detail"><h4>asdsfsdfsdfsadfas</h4></div>
                        <div class="author"><h6>dffdsafsaf</h6></div>
                    </div>

                </div>
            </li>
            <li>
                <div class="listrap-toggle">
                    <div class="ava">
                        <img src="http://lorempixel.com/60/60/people/?v=1" class="img-circle"/>
                    </div>
                    <div class="content">
                        <div class="title"><h3>1231231321321321</h3></div>
                        <div class="content-detail"><h4>asdsfsdfsdfsadfas</h4></div>
                        <div class="author"><h6>dffdsafsaf</h6></div>
                    </div>

                </div>
            </li>
            <li>
                <div class="listrap-toggle">
                    <div class="ava">
                        <img src="http://lorempixel.com/60/60/people/?v=1" class="img-circle"/>
                    </div>
                    <div class="content">
                        <div class="title"><h3>1231231321321321</h3></div>
                        <div class="content-detail"><h4>asdsfsdfsdfsadfas</h4></div>
                        <div class="author"><h6>dffdsafsaf</h6></div>
                    </div>

                </div>
            </li>
            <li>
                <div class="listrap-toggle">
                    <div class="ava">
                        <img src="http://lorempixel.com/60/60/people/?v=1" class="img-circle"/>
                    </div>
                    <div class="content">
                        <div class="title"><h3>1231231321321321</h3></div>
                        <div class="content-detail"><h4>asdsfsdfsdfsadfas</h4></div>
                        <div class="author"><h6>dffdsafsaf</h6></div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>